body {
  color: #f2f2f2; }

#hero {
  background-size: cover;
  background-position: 0 60%; }

.carousel {
  position: initial; }
  .carousel .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 397px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center; }

.myCarousel {
  margin-top: -142px;
  background-size: cover; }
  .myCarousel img {
    width: 100%;
    max-width: 100%; }

.mynav {
  z-index: 999;
  background: none; }

.navbar {
  width: 100%;
  backgroud: none !important;
  padding-top: 4.7em; }
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar .navbar-toggler {
    curser: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: regular;
    font-family: 'Montserrat', sans-serif; }
  .navbar .nav-item {
    padding: 0 1.3rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }

#carousel {
  width: 960px;
  height: 550px;
  position: relative;
  clear: both;
  overflow: hidden; }
  #carousel img {
    height: 500px;
    width: 700px;
    visibility: hidden;
    cursor: pointer;
    position: center; }

#callback-output {
  height: 250px;
  overflow: scroll; }
