

  body {
    color: #f2f2f2;
  }


  #hero {
    // background: url('/assets/homebg.png') no-repeat;
    background-size: cover;
    background-position: 0 60%;
  }
  .carousel {
  position: initial;

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 397px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

  }
  .myCarousel{
    margin-top: -142px;
    background-size: cover;

    img{
    width:100%;
    max-width:100%;
    }


  }
  .mynav{
    z-index: 999;
    background: none;
  }


  .navbar {

    width:100%;
    backgroud: none !important;
    padding-top: 4.7em;

    @media(max-width: 34em){
      background: black !important;
    }

    .navbar-toggler {
      curser: pointer;
      outline:0;
    }

    .nav-link {
      text-transform: uppercase;
      font-weight: regular;
      font-family: 'Montserrat', sans-serif;
    }

    .nav-item {
      padding: 0 1.3rem;

      @media(max-width: 34em){
        padding: 0;
      }

      .nav-link{
        @media(max-width: 34em){

        }
      }
    }

  }


// Features

#carousel {
	width: 960px;
	height: 550px;
	position: relative;
	clear: both;
	overflow: hidden;
	// background: #ccc;
	img {
		height: 500px;
		width: 700px;
		visibility: hidden;
		cursor: pointer;
		position: center;
	}
}
#callback-output {
	height: 250px;
	overflow: scroll;
}
